@import "../global";
@import "../variables";

.section-title {
    font-size: 1.33rem;
    margin: 3rem auto 3rem;
    text-align: center;
}

.cv__date, .cv__address-wrapper {
  margin-bottom: 1.5rem;
}

 .cv__address-item {
    margin-bottom: 0;
    margin-top: 0;
    
}

@media (min-width: 600px) {
    .css-946xgt-MuiContainer-root {
      padding-left: 32px !important;
      padding-right: 32px !important;
    }
  }